# How to create pandas Dataframe

In [1]:
import pandas as pd

In [2]:
emp_df = pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [6]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [7]:
df1

   0
0  a
1  b
2  c

In [8]:
ls_of_ls = [[1,2,3], [2,3,4],[4,5,6]]
print(ls_of_ls)

[[1, 2, 3], [2, 3, 4], [4, 5, 6]]

In [9]:
df2 = pd.DataFrame(ls_of_ls)
print(df2)

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [10]:
dict = {'Id':[11,12,13,14,15]}
print(dict)

{'Id': [11, 12, 13, 14, 15]}

In [13]:
df3 = pd.DataFrame(dict)
df3

   Id
0  11
1  12
2  13
3  14
4  15

In [14]:
dict1 = {'Id':[11,1,13,14],'SN':[1,2,3,4]}
print(dict1)

{'Id': [11, 1, 13, 14], 'SN': [1, 2, 3, 4]}

In [15]:
df4 = pd.DataFrame(dict1)
df4

   Id  SN
0  11   1
1   1   2
2  13   3
3  14   4

In [17]:
ls_dict = [{'a':1,'b':2},{'a':4,'b':5}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b
0  1  2
1  4  5

In [19]:
ls_dict = [{'a':1,'b':2},{'a':4,'b':5,'c':6}]
df5 = pd.DataFrame(ls_dict)
df5

   a  b    c
0  1  2  NaN
1  4  5  6.0

In [20]:
dict_sr = {'Id': pd.Series([1,2,3,4]),'SN': pd.Series([11,12,13,14])}
df6 = pd.DataFrame(dict_sr)
df6

   Id  SN
0   1  11
1   2  12
2   3  13
3   4  14